@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
		margin:0;
		padding:0;
		box-sizing:border-box;
		font-family: 'Roboto', sans-serif;

}
header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 5%;
}
header .logo {
	font-size: 25px;
}
header .logo span {
	color: #93d6d0;
}	
header .menu a {
	position: relative;
	margin: 0 10px;
	text-decoration: 0;
	color: #999;
	transition: 0.5s;
}
header .menu a:before {
		position: absolute;
		top: -2px;
		content: "";
		width: 0;
		height: 2px;
		background-color: #93d6d0;
		transition: 0.5s;
}
header .menu a:hover:before {
		width:100%;
}			
header .menu a:hover:before {
	color:#000;
	/*home */
}
.home {
		height: calc(100vh - 55px);
		background: url("images/image.jpg");
		background-position: center;
		background-size: cover;
		display: flex;
		align-items: flex-end;
		padding-left: 5%;
		padding-bottom: 50px;

}		
.home-info {
	background-color: #fff;
	border-radius: 6px;
	padding: 10px;
	animation: anime 2s linear;
}
/* animation info */
@keyframes anime {
	from{
		transform: translateX(-600px);
	}
}
.home-info h1 {
	font-size: 120%;
	text-transform: uppercase;

}
.home-info p {
	margin-top: 10px;
	margin-bottom: 10%;

}
.home-info a {
	text-decoration: 0;
	border: 2px solid #93d6d0;
	color: #93d6d0;
	border-radius: 6px;
	padding: 5px 20px;
	margin-top: 5px;
	font-weight: 400;
	text-transform: capitalize;
	transition: 0.5s;
	

}
.home-info a:hover {
	background-color: #93d6d0;
	color: #fff;
	letter-spacing: 1px;

}
.services {
	padding: 0 0%;

}
.title {
	text-align: center;
	margin-top: 50px;
	font-size: 35px;
	letter-spacing: 1px;

}
.sub-title {
	text-align: center;
	color: #93d6d0;
	margin: 20px 0;
}
.list-services {
	display:grid;
	grid-template-columns: repeat(auto-fit,20rem);
	justify-content: center;
	gap: 20px;
	margin-bottom: 50px;
}
.list-services .box {
	padding: 30px;
	background-color: #f3fbfa;
	border-radius: 6px;
	transition: 0.5s;
}
.list-services .box h1{
	text-transform: uppercase;
	color: #93d6d0;
	margin-bottom: 10px;
	font-size: 18px;
	letter-spacing: 1px;
}
.list-services .box p {
	font-size: 16px;

}
.list-services .box:hover{
	background-color: #93d6d0;
}
.list-services .box:hover h1{
	color: #fff;
}
.list-services .box:hover p{
	color: #333;
}

